.leafletbook-thumb {
    position: relative;
}
.full-size {
    width: 100%;
    position: absolute;
    height: 100%;
    
}
.book-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 0;
}
.RecipeAndTipLoader{
    display: none;
    margin-left: auto;
    margin-right: auto;
}
.RecipeAndTipLoader.active{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#wpsl-category label {
    display: none !important;
}
.storeinformation-wrap #wpsl-search-wrap .justify-content-center [class*="col-"]{
    margin-right: -15px;
}
.storeinformation-wrap .wpsl-dropdown{
    border: 1px solid #4b4c4c;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    background: none;
    font-size: 13px;
    color: #4b4c4c;
    font-family: 'Frutiger LT Black';
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
}
.storeinformation-wrap #wpsl-category .wpsl-dropdown{
    width: 100%;
}
.storeinformation-wrap .wpsl-dropdown .wpsl-selected-item, .storeinformation-wrap .wpsl-selected-item{
    padding: 25px 15px !important;
    text-align: center;
    color: #4b4c4c;
    height: 66px;
}
.storeinformation-wrap #wpsl-category .wpsl-dropdown div{
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #dae0e5;
}
.storeinformation-wrap .wpsl-dropdown li{
    padding: 15px !important;
    color: #4b4c4c;
}
.storeinformation-wrap .wpsl-selected-item:after{
    content: ">";
    font-family: 'Frutiger LT Black';
    font-weight: 800;
    font-size: 20px;
    transition: all 350ms ease-out;
    border: 0px;
    color: #4b4c4c;
    transform: rotate(90deg);
    position: absolute;
    right: 15px;
    left: auto;
    top: 50%;
    margin-top: -12px;
}
.storeinformation-wrap .wpsl-active .wpsl-selected-item:after{
    transform: rotate(-90deg);
}
.storeinformation-wrap #wpsl-search-input{
    border: 1px solid #4b4c4c;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    background: none;
    color: #4b4c4c;
    font-family: 'Frutiger LT Black';
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    height: 68px;
    text-align: center;
}
.storeinformation-wrap #wpsl-search-btn{
    background-color: #E11B25;
    border-color: #E11B25;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 12px;
    min-width: 140px;
    line-height: 17px;
    text-transform: uppercase !important;
    background-image: none;
    font-family: 'Frutiger LT Black';
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.5px;
}
.storeinformation-wrap #wpsl-search-btn:hover, .storeinformation-wrap #wpsl-search-btn:focus, .storeinformation-wrap #wpsl-search-btn:active, .storeinformation-wrap #wpsl-search-btn:not(:disabled):not(.disabled):active {
    color: #E11B25;
    background-color: #ffffff;
    text-decoration: none;
}
.wpsl-store-location span {
    display: none!important;
}
.wpsl-store-below #wpsl-result-list{
    margin: 0;
}
#wpsl-wrap.wpsl-store-below #wpsl-result-list ul li{
    padding: initial;
    border: 0px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
#wpsl-wrap.wpsl-store-below #wpsl-result-list .wpsl-store-location p, #wpsl-wrap.wpsl-store-below #wpsl-result-list .wpsl-store-location strong{
    font-family: 'Frutiger LT Black';
    font-weight: 800;
    display: inline-block;
    color: #E11B25;
    font-size: 22px;
}
#wpsl-wrap.wpsl-store-below #wpsl-result-list .wpsl-direction-wrap{
    font-family: 'Frutiger LT Black';
    font-weight: 800;
    display: inline-block;
    color: #E11B25;
    font-size: 22px;
}
#wpsl-wrap.wpsl-store-below #wpsl-result-list .wpsl-direction-wrap .wpsl-directions{
    font-size: 14px;
    padding: 8px 12px;
    min-width: 140px;
    line-height: 17px;
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d !important;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-border-radius: 5px;
    -o-border-radius: 5px;
    text-transform: uppercase;
    display: block;
}
#wpsl-wrap.wpsl-store-below #wpsl-result-list .wpsl-direction-wrap .wpsl-directions:hover{
    color: #4d4d4d;
    background-color: #ffffff;
}
.wpsl-search{ background: transparent; padding: 0px;}
.heading1 h2 a{
    color: #000000;
    text-decoration: none;
}



@media (min-width: 992px) { 
    .storeinformation-wrap #wpsl-search-btn, #wpsl-search-wrap div{
        margin-right: 0px;
        float: none;
    }
}
@media (max-width: 992px){
    #wpsl-search-wrap div label {
        margin-right: 0;
    }
    .storeinformation-wrap #wpsl-category .wpsl-dropdown{
        width: 100% !important;
    }
    .storeinformation-wrap #wpsl-search-input{
        width: 100% !important;
    }
    #wpsl-search-btn, #wpsl-search-wrap div{
        float: none;
        margin-right: 0px;
    }
    #wpsl-search-wrap .storeinformation-wrap div.justify-content-center {
        margin-right: -15px;
    }
    #wpsl-search-wrap #wpsl-search-btn{
        float: none;
    }
}
.wpcf7-response-output {
    display: none !important;
}